@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>👋 ¡Hola! Soy Maikol Isaac Llanda Huatatoca</h1>
    <p>Soy un estudiante de Ingeniería en Sistemas de Información en la Universidad Central del Ecuador.</p>
    <p>Apasionado por el desarrollo de software y la gestión de proyectos.</p>
    <p>Busco aplicar mis habilidades en un entorno profesional, contribuyendo al éxito de la organización mientras continúo mi desarrollo profesional.</p>
</div>
